* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}